blockquote{
    color:#d0218d;
    background-color:#f0dfb7;
}
h1{color:#5353eb;}
strong{color:#e3176d;}
div{
    font-family:DFKai-SB,BiauKai,arial;
    font-size:18px;    
    font-weight: 300;
    line-height: 1em;
}